.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
}
#Home {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 100%;
	height: 100%;
	background-color: rgba(245,245,245,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
#MainPanel {
	position: absolute;
	width: 450.511px;
	height: 184px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	top: 50%;
	overflow: visible;
}
#messageLabel {
	opacity: 0.995;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 169px;
	overflow: visible;
	width: 265px;
	white-space: normal;
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(111,110,128,1);
}
#BG {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.039));
}
.BG {
	position: absolute;
	overflow: visible;
	width: 468.511px;
	height: 164.612px;
	left: 0px;
	top: 0px;
}
#content {
	position: absolute;
	width: 410px;
	height: 51px;
	left: 20.5px;
	top: 75px;
	overflow: visible;
}
#group {
	position: absolute;
	width: 410px;
	height: 19px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#url {
	opacity: 0.5;
	position: absolute;
	left: 101px;
	right: 0px;
	top: 1px;
	overflow: hidden;
	width: none;
	height: 17px;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
	text-overflow:  ellipsis;
}
#URL {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 27px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#group1 {
	position: absolute;
	width: 410px;
	height: 19px;
	left: 0px;
	top: 32px;
	overflow: visible;
}
#clipboardLink {
	opacity: 0.5;
	position: absolute;
	left: 316px;
	top: 1px;
	overflow: visible;
	width: 95px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3.5px;
	text-align: right;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(77,79,92,1);
}
#Clipboard {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(67,66,93,1);
}
#Web_Export_URL_Resolver {
	position: absolute;
	left: 43px;
	top: 15px;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Sans Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(102,104,120,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	top: 45.5px;
	left: 20.5px;
	width: 410px;
	height: 1px;
}
#Icon {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 21px;
	top: 19px;
	overflow: visible;
}
.Rectangle_177 {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#W {
	position: absolute;
	left: 4.5px;
	top: 4px;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 8px;
	color: rgba(255,255,255,1);
}
#PADDING_TO_ITEM {
	position: absolute;
	left: 718px;
	top: 441px;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#BACKGROUND_HOVER {
	position: absolute;
	left: 692px;
	top: 416px;
	overflow: visible;
	width: 130px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(112,112,112,1);
}
#Group_1 {
	position: absolute;
	width: 385px;
	height: 34px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 24px;
	overflow: visible;
}
.Path_298 {
	overflow: visible;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 385px;
	height: 34px;
	transform: matrix(1,0,0,1,0,0);
}
#JavaScript_must_be_enabled_for {
	position: absolute;
	left: 87px;
	top: 9px;
	overflow: visible;
	width: 242px;
	white-space: nowrap;
	line-height: 13px;
	margin-top: -1px;
	text-align: left;
	font-family: Euphemia UCAS;
	font-style: italic;
	font-weight: normal;
	font-size: 11px;
	color: rgba(255,255,255,1);
}
#__ {
	position: absolute;
	left: 68px;
	top: 10px;
	overflow: visible;
	width: 13px;
	white-space: nowrap;
	line-height: 13px;
	margin-top: -2px;
	text-align: left;
	font-family: Euphemia UCAS;
	font-style: italic;
	font-weight: normal;
	font-size: 9px;
	color: rgba(255,255,255,1);
}